<!DOCTYPE html>
<html>
<head>
	<title>[OpenAP] Your validation code!</title>
</head>
<body style="font-family: system-ui;">
<div style="margin: 50px;padding: 50px;background-color: palegreen;">
    <h1>Hey {{ firstname }},</h1>
	<p>Please find here your validation code to change your <i>OpenAP</i> password.<br><br><strong>YOUR CODE: <span style="padding:10px;background-color: blue;border-radius: 5px;color: white;">{{ code }}</span></strong></p>
	<p><br>Your dedicated <i>OpenAP</i> team</p>
</div>

</body>
</html>